<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>     
          Bienvenu {{user.firstName}}
        </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="latest-prescription-card"></ion-card>

  
  <ion-card class="no-prescription-card">
    <ion-card-header>
      <ion-card-title>Aucune prescription</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{user.role === 'doctor' ? doctorNoPrescriptionTxt : patientNoPrescriptionTxt}}
    </ion-card-content>
  </ion-card>
</ion-content>
